@model IEnumerable<News.Entities.News>

@{
    ViewData["Title"] = "Index";
    var i = 0;
}

<p>
    <a class="btn btn-primary" asp-action="Create" title="Create New">      <i class="fas fa-plus"></i></a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>#</th>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Image)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Content)
            </th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            i++;
            <tr>
                <td>@i</td>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    <img src="@Url.Content(item.Image)" alt="Image" style="max-width: 150px; max-height: 150px;" />
                </td>
                <td>
                    @Html.Raw(item.Content)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-warning" title="Edit">
                        <i class="fas fa-edit"></i>
                    </a>
                    <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-info" title="Details">
                        <i class="fas fa-info-circle"></i>
                    </a>
                    <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger" title="Delete">
                        <i class="fas fa-trash-alt"></i>
                    </a>
                </td>
            </tr>
        }
    </tbody>
</table>